@model App.Domain.Workout

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkoutName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkoutName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvPerformanceTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvPerformanceTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingBlock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingBlock!.BlockName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
