@model IEnumerable<App.Domain.Workout>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvPerformanceTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingBlock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvPerformanceTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingBlock!.BlockName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
